h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    background-color: white;
}

head {
    background-color: white;
}

p {
    color: black;
    background-color: RED;
}

body {
    background-color: white;
}

br {
    background-color: white;
}

.responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
}